nodered/flows.json
[
    {
        "id": "43b2d19b5524302e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "739c789864150a03",
        "type": "mqtt in",
        "z": "43b2d19b5524302e",
        "name": "Window State Change",
        "topic": "/home/+/window",
        "qos": "2",
        "datatype": "auto",
        "broker": "0fc1efa1b0ec259f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "876521eb99fc0d90"
            ]
        ]
    },
    {
        "id": "579833fd4dc5d0d0",
        "type": "debug",
        "z": "43b2d19b5524302e",
        "name": "Fenster geschlossen",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "1347a1db3b612763",
        "type": "switch",
        "z": "43b2d19b5524302e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "579833fd4dc5d0d0"
            ],
            [
                "0eb20ab5a47272b7",
                "0550660d36cfd79d"
            ]
        ]
    },
    {
        "id": "0eb20ab5a47272b7",
        "type": "debug",
        "z": "43b2d19b5524302e",
        "name": "Fenster geöffnet",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "75bbcbfb9dd7b149",
        "type": "mqtt out",
        "z": "43b2d19b5524302e",
        "name": "",
        "topic": "/home/alert",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0fc1efa1b0ec259f",
        "x": 1410,
        "y": 420,
        "wires": []
    },
    {
        "id": "876521eb99fc0d90",
        "type": "function",
        "z": "43b2d19b5524302e",
        "name": "",
        "func": "msg.roomIndex = msg.topic.split('/')[2]\nflow.set(msg.roomIndex+'windowsState', msg.payload)\n\nmsg.delay = flow.get('duration');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "1347a1db3b612763"
            ]
        ]
    },
    {
        "id": "0550660d36cfd79d",
        "type": "delay",
        "z": "43b2d19b5524302e",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "14681a81dd53a1d5"
            ]
        ]
    },
    {
        "id": "14681a81dd53a1d5",
        "type": "function",
        "z": "43b2d19b5524302e",
        "name": "Wndow not closed?",
        "func": "if (msg.payload === flow.get(msg.roomIndex+'windowsState'))\n{\n    //window is still open\n    \n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 460,
        "wires": [
            [
                "bff47e1de1bdb3a0",
                "d32716a6a21db55e"
            ]
        ]
    },
    {
        "id": "b244903e3705915a",
        "type": "debug",
        "z": "43b2d19b5524302e",
        "name": "Fenster zu lange geöffnet",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 500,
        "wires": []
    },
    {
        "id": "bff47e1de1bdb3a0",
        "type": "delay",
        "z": "43b2d19b5524302e",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 930,
        "y": 400,
        "wires": [
            [
                "14681a81dd53a1d5"
            ]
        ]
    },
    {
        "id": "d32716a6a21db55e",
        "type": "function",
        "z": "43b2d19b5524302e",
        "name": "Create Message text",
        "func": "msg.payload = 'Fenster in ' + msg.roomIndex + ' schließen!';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 460,
        "wires": [
            [
                "75bbcbfb9dd7b149",
                "b244903e3705915a"
            ]
        ]
    },
    {
        "id": "1d3dc5bbe18205b3",
        "type": "mqtt in",
        "z": "43b2d19b5524302e",
        "name": "",
        "topic": "/home/data/duration",
        "qos": "2",
        "datatype": "auto",
        "broker": "0fc1efa1b0ec259f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "038202887eeaef3d"
            ]
        ]
    },
    {
        "id": "038202887eeaef3d",
        "type": "function",
        "z": "43b2d19b5524302e",
        "name": "Save ventialtion duration ",
        "func": "flow.set('duration', parseFloat(msg.payload) * 60 * 1000)\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 280,
        "wires": []
    }
]